.trans {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    th, td {
        // border: 1px solid #ddd;
        // padding: 8px;
        height: 10vh; /* Set a fixed height for each cell */
        text-align: center; /* Center the text horizontally */
        vertical-align: middle; /* Center the text vertically */
    }
        
    th:first-child, td:first-child {
        width: 5vw; /* Set the first column to be wider */
    }
        
    th:not(:first-child), td:not(:first-child) {
        width: 8vw; /* Adjust the width of other columns */
    }
      
    span {
        font-weight: bold;
    }
    table {
        background-color: black;
    }
    .b-container {
        width: 100%;
        display: flex;  // Establishes a flex container
        justify-content: center;  // Centers the child horizontally
        align-items: center;  // Centers the child vertically
        margin: 10px 0 10px 0;

        button {
            width: 100px;
            height: 50px;
            font-family: "Lato", sans-serif;
            background-color: white;
            font-weight: 600;
            border-radius: 10px;
            margin: 0 10px;
        }
        button:hover {
            background-color: #ccc;
        }
    }
}

@media screen and (max-width: 1150px) {
    .trans {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        th, td {
            // border: 1px solid #ddd;
            // padding: 8px;
            height: 10vh; /* Set a fixed height for each cell */
            text-align: center; /* Center the text horizontally */
            vertical-align: middle; /* Center the text vertically */
        }
            
        th:first-child, td:first-child {
            width: 5vw; /* Set the first column to be wider */
        }
            
        th:not(:first-child), td:not(:first-child) {
            width: 8vw; /* Adjust the width of other columns */
        }
          
        span {
            font-weight: bold;
        }
        table {
            background-color: black;
            width: 90%;
        }
        .b-container {
            width: 100%;
            display: flex;  // Establishes a flex container
            justify-content: center;  // Centers the child horizontally
            align-items: center;  // Centers the child vertically
            margin: 10px 0 10px 0;
    
            button {
                width: 100px;
                height: 50px;
                font-family: "Lato", sans-serif;
                background-color: white;
                font-weight: 600;
                border-radius: 10px;
                margin: 0 10px;
            }
            button:hover {
                background-color: #ccc;
            }
        }
    }
}