.performance {
    // background-color: gray;
    height: 100vh;
    display: flex;  // Establishes a flex container
    justify-content: center;  // Centers the child horizontally
    align-items: center;  // Centers the child vertically
}