html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    // height: 100vh; /* 100% of the viewport height */
    width: 100%; /* Full width */
    scroll-snap-align: center ;
}

.performance-section1{
    padding-top: 70px;
    height: calc(100vh - 70px);
    .upside {
        display: flex;
        justify-content: center;
        align-items:  center;
        height: 33.3%;
        width: 100%;
        background-color: rgb(0, 4, 56);

        .container {
            max-width: 1300px;
            height: 100%;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:  center;
            // padding-bottom: 80px;

            .profit {
                font-family: "Roboto", sans-serif;
                font-weight: 500;
                font-style: italic;
                font-size: 55px;
                color: rgb(255, 255, 255);
            }

        }
    }

    .downside {
        display: flex;
        justify-content: center;
        align-items:  center;
        height: 66.6%;
        width: 100%;
        background-color: #f8f8f8;

        .container {
            height: 100%;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items:  center;
            .left {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items:  center;
                .chart-container {
                    width: 90%;
                    max-width: 600px;
                    height: 100%;
                }
            }

            .v-line {
                width: 2px;              /* Line width */
                background-color: #ccc;  /* Line color */
                height: 60%;           /* Adjust based on your needs */
            }
            .h-line {
                display: none;         /* Adjust based on your needs */
            }

            .right {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items:  center;
                .chart-container {
                    width: 90%;
                    max-width: 600px;
                    height: 100%;
                }
            }
        }
    }
}   

.performance-section2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: lightblue;


    h1 {
        margin-top: 90px;
    }
    h3 {
        margin-top: 0;
    }

}

@media screen and (max-width: 1150px) {
    html {
        scroll-snap-type: none;
        scroll-behavior: none;
    }
    
    section {
        width: 100%; /* Full width */
        scroll-snap-align: none ;
    }

    .performance-section1{
        height: auto;
        .upside {
            display: flex;
            justify-content: center;
            align-items:  center;
            height: 33.3%;
            width: 100%;
            background-color: rgb(0, 4, 56);
    
            .container {
                max-width: 1300px;
                height: 100%;
                width: 100vw;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items:  center;
                padding: 20px 0;
                // padding-bottom: 80px;
    
                .profit {
                    font-family: "Roboto", sans-serif;
                    font-weight: 500;
                    font-style: italic;
                    font-size: 55px;
                    color: rgb(255, 255, 255);
                }
    
            }
        }
        .downside {
            // height: auto;
            .container {
                height: 100%;
                width: 100vw;
                display: flex;
                justify-content: center;
                align-items:  center;
                flex-direction: column;
                .left {
                    height: auto;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    align-items:  center;
                    h1 {
                        height: 20%;
                    }
                    .chart-container {
                        width: 100%;
                        height: auto;
                        max-height: 80%;
                    }
                }
    
                .v-line {
                    display: none;     /* Adjust based on your needs */
                }
                
                .h-line {
                    display: flex;
                    align-self: center;
                    height: 1px;              /* Line width */
                    background-color: lightgray;  /* Line color */
                    width: 90%;           /* Adjust based on your needs */
                    margin-top: 20px;
                }

                .right {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 40px;
                    // justify-content: center;
                    align-items:  center;
                    .chart-container {
                        width: 100%;
                        height: auto;
                        max-height: 80%;
                    }
                }
            }
        }
    }   

    .performance-section2 {
        height: calc(100vh - 70px);
        h1 {
            margin-top: 10px;
        }
        h3 {
            font-size: medium;
        }
    }
}