html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    height: 100vh; /* 100% of the viewport height */
    width: 100%; /* Full width */
    scroll-snap-align: center ;
}

.performance-section1{
    height: 100vh;
    .upside {
        display: flex;
        justify-content: center;
        align-items:  center;
        height: 33.3%;
        width: 100%;
        background-color: rgb(84, 255, 141);
        .container {
            max-width: 1300px;
            height: 100%;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items:  center;
            padding-bottom: 80px;

            .profit {
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-style: italic;
                font-size: 48px;
            }

        }
    }
    .downside {
        display: flex;
        justify-content: center;
        align-items:  center;
        height: 66.6%;
        width: 100%;
        background-color: #f8f8f8;

        .container {
            height: 100%;
            width: 99vw;
            display: flex;
            justify-content: center;
            align-items:  center;
            .left {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items:  center;
                .chart-container {
                    padding: 0 50px 0 50px;
                    width: 90%;
                    height: auto;
                    // border-color: rgb(51, 51, 51);
                    // border-style: solid;
                    // border-width: thin;
                    // border-radius: 5px;
                    // margin-bottom: 50px;
                }
            }

            .v-line {
                width: 2px;              /* Line width */
                background-color: #ccc;  /* Line color */
                height: 60%;           /* Adjust based on your needs */
            }

            .right {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items:  center;
                .chart-container {
                    padding: 0 50px 0 50px;
                    width: 90%;
                    height: auto;
                }
            }
        }
    }
}   

.performance-section2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    .title {
        width: 1000px;
        height: auto;
        display: flex;  // Establishes a flex container
        justify-content: space-evenly;  // Centers the child horizontally
        align-items: center;  // Centers the child vertically
        background-color: rgb(158, 158, 158);
    }

    h1 {
        margin-top: 0px;
    }
    h3 {
        margin-top: 0;
    }

}
.performance {
    // background-color: gray;
    // height: 100vh;
    display: flex;  // Establishes a flex container
    flex-direction: column;
    // justify-content: center;  // Centers the child horizontally
    align-items: center;  // Centers the child vertically
    
    .container {
        width: 1300px;
        height: auto;
        display: flex;  // Establishes a flex container
        flex-direction: column;
        // justify-content: center;  // Centers the child horizontally
        align-items: center;  // Centers the child vertically
        margin-top: 90px;
        // border: 1px solid gray; /* 2px thick, solid, black border */
        border-radius: 10px;
        padding: 20px;
        background-color: #eeeeee;
        margin-bottom: 30px;
        
        
        .chart-container {
            padding: 50px;
            width: 1000px;
            border-color: rgb(51, 51, 51);
            border-style: solid;
            border-width: thin;
            border-radius: 5px;
            margin-bottom: 50px;
        }
        .h-line {
            height: 1px;              /* Line width */
            background-color: black;  /* Line color */
            width: 100%;           /* Adjust based on your needs */
        }
    }
}